<launch>
    <node pkg="point_cloud_io" type="read" name="read_stl_node" output="screen">
        <param name="file_path" value="$(find map_builder)/test/map_medium.ply" />
        <param name="topic"     value="/test_point_cloud" />
        <param name="frame"     value="initial_base" />
        <param name="rate"      value="0.2" />
    </node>

    <node pkg="map_builder" type="test_p_normal_service.py" name="test_p_normal_service" output="screen"></node>

</launch>